$color-main: black;
$color-secondary: white;
$color-corp: #6c933e;
$background-color-main: #6c933e;
$background-color-sec: #d9e4cc;
$background-color-thi:#4a4a4a;
$background-color-four: white;
$main-font: "Roboto";
