@use "../core/variables" as vars;

.footer{
    background-color: vars.$background-color-thi;
    color: vars.$color-secondary;
    font-family: vars.$main-font;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-bottom: 40px;  
    
    &__list{
        text-transform: uppercase;
        text-align: center;
        margin-top: 30px;
    
    
       &__products{
        padding: 20px;
       }

        &__rrss{
        padding: 20px;
        }
    }

        &__copy{
        text-align: center;
    }
    
}

.link{
    padding: 5px;
}

.footer__arrow{
    width: 50px;
    text-align: center;
    padding: 10px;
    background-color: vars.$color-secondary;
    border-radius: 50%;
    position: absolute;
    top: 0;
    transform:translateY(-50%) 
}

@media (min-width:600px) {

    .footer{
        flex-direction: row;
        justify-content: space-around;

        &__list{
            width: 50%;
            display: flex;
            justify-content: space-between;
        }
        &__copy{
            order: -2;
        }
    }
}