@use "../core/variables" as vars;
.hero{
    display: flex;
    flex-direction: column-reverse;
    align-items:center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size:cover;
    background-position-x: 85%;
    background-image: url(/images/cover.jpeg)
   
   
}

.hero__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
   
   
}
.hero__title{
    font-family: vars.$sec-font;
    font-size: 45px;
    text-align: center;
    text-transform: uppercase;
    color: white;
 
}

.hero__parag{
    font-family: vars.$main-font;
    font-size: 18px;
    text-align: center;
    color: white;
    padding: 20px;
}

.hero__scroll{
    width: 50px;
    padding: 10px;
    background-color: vars.$color-secondary;
    border-radius: 50%;
}