<footer class="footer">
   <div class="footer__list">
     <ul class="footer__list__products">
        <li class="link"><a href="https://adalab.es/">zapatillas</a></li>
        <li class="link"><a href="https://adalab.es/">ropa</a></li>
        <li class="link"><a href="https://adalab.es/">niño/a</a></li>
        <li class="link"><a href="https://adalab.es/">destacados</a></li>
        <li class="link"><a href="https://adalab.es/">tips</a></li>
     </ul>
     <ul class="footer__list__rrss">
        <li class="link"><a href="https://adalab.es/">twitter</a></li>
        <li class="link"><a href="https://adalab.es/">instagram</a></li>
        <li class="link"><a href="https://adalab.es/">youtube</a></li>
     </ul>
   </div> 
   <div class="footer__copy">
        <p>&copy;2023</p>
        <p>we💚run</p>
   </div>
    <a class="footer__arrow" href="#linkfooter"> <img  src="./images/ico-arrow.svg" alt="Scroll down"></a>
     
</footer>