<footer class="footer">
   <div class="footer__list">
    <ul class="footer__list__products">
        <li><a href="https://adalab.es/">zapatillas</a></li>
        <li><a href="https://adalab.es/">ropa</a></li>
        <li><a href="https://adalab.es/">niño/a</a></li>
        <li><a href="https://adalab.es/">destacados</a></li>
        <li><a href="https://adalab.es/">tips</a></li>
    </ul>
    <ul class="footer__list__rrss">
        <li><a href="https://adalab.es/">twitter</a></li>
        <li><a href="https://adalab.es/">instagram</a></li>
        <li><a href="https://adalab.es/">youtube</a></li>
    </ul>
   </div> 
   <div class="footer__copy">
    <p>&copy;2023</p>
    <p>we💚run</p>
   </div>
   <img class="footer__arrow" src="./images/ico-arrow.svg" alt="Scroll down">
    
</footer>